body {
    background-color: #313131;
    color: white;
    font-family: "Arial";
}

.content {
    text-align: center;
}

#key {
    font-weight: bold;
    font-size: xx-large;
}

#count {
    width: 30px;
}

#in {
    font-size: x-large;
    text-align: center;
}

#start {
    margin-top: 3px;
    border-radius: 5px;
    width: 75px;
    height: 35px;
}

.start {
    background-color: #00ff00;
}

.stop {
    background-color: #ff0000;
}